doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='author', content='Gamex Studios')
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui")
      meta(name="application-name", content="Troll Me!")
      title= 'Resource not found'
      link(rel='stylesheet', href='/stylesheets/404.css')
   body
      #content
         h1='Resource not Found'
         img(src='/assets/error404.png')