extends ./main.jade

block title
	title='Recurso no encontrado'

block extracss
	link(rel='stylesheet', href='css/404.css')

block content
	br
	br
	br
	//- MAIN CONTENT
	.parallax-container
		.row.center
			h1.header.center.white-text.text-lighten-2 Lugar Equivocado!
			img(src='images/error404.png')