extends ./main.jade

block title
	title='Recurso no encontrado'

block extracss
	link(rel='stylesheet', href='css/404.css')

block content
	//- MAIN CONTENT
	.parallax-container
		.parallax
			img(src="images/background1.jpg")
	.section.indigo.darken-1
		.row.container
			ul.breadcrumbs
			for crumb in breadcrumbs
				a(href='#{crumb.address}') #{crumb.text} > 
	div#content
		div#index-banner
			div.container
				h1.header.center.teal-text.text-lighten-2 Lugar Equivocado!
				img(src='images/error404.png')