extends ./main.jade

block title
	title='Recurso no encontrado'

block extracss
	link(rel='stylesheet', href='css/404.css')

block content
	main
		div#content
			div#index-banner
				div.container
					h1.header.center.teal-text.text-lighten-2 Lugar Equivocado!
					img(src='images/error404.png')