footer.page-footer.indigo.darken-2
	div.container 
	div.row
		div.col.l6.s12
			h5.white-text Bienvenido a bordo
			p.white-text.textlighten-4 TrollMe App!
		div.col.l4.offset-12.s12
			h5.white-text Links de Interés
			ul
				li
					a.grey-text.text-lighten-3(href='http://laesporadelhongo.com/') TheMushrr00m's Website
	div.footer-copyright
		div.container 
		-var date = new Date().getFullYear()
		h7 &copy; #{date} - Creado con ♥ en Cancún por 
			a.grey-text.text-lighten-4(href='#') Gamex Studios
