footer.page-footer.indigo.darken-1
	.footer-copyright
		.container 
			-var date = new Date().getFullYear()
			h7.white-text &copy; #{date} - Creado con ♥ en Cancún por 
				a.blue-text(href='https://www.facebook.com/GaMex-Studios-1490995631182760/', target='__blank') Gamex Studios