extends ./main.jade

block title
	title #{title}

block content
	br
	.section.white
		.row.container
			h2 Bienvenido #{userName}
			.chip #{userName}
				img(src='#{picture}', alt='username_pic')
		.row.container
			button.btn.white
				a(href="/trollme") Ir a trollme!