extends ./main.jade

block title
	title #{title}

block content
	.parallax-container
		.parallax
			img(src="images/background1.jpg")
	.section.white
		.row.container
			h2 Bienvenido #{userName}
			.chip
				img(src='images/themushrr00m.jpeg', alt='username_pic')
				p #{Username}