extends ./main.jade

block title
	title #{title}

block content
	br
	.section.white
		.row.container
			h2 Bienvenido #{userName}
			.chip #{userName}
				img(src='#{picture}', alt='username_pic')
		.row.container
			a.btn(href="/trollme") Ir a trollme!

block extrajs
	script(src='js/vendor/socket.io.js')
	script(type='text/javascript').
		$(function($)) {
			var socket = io.connect();
			socket.emmit('new user', 1, function(data) {
				
			})
		}