extends ./main.jade

block title
	title #{title}

block extracss

block content
	//- MAIN CONTENT
	.parallax-container
		.parallax
			img(src="images/background1.jpg")
	//- SECTION 2
	.section
		.row.container
			h2.header.blue-text.text-darken-1 Bienvenido a TrollMe
			p.blck-text.text-darken-3
				| TrollMe es una plataforma que nace debido a la necesidad de todos los usuarios de internet, para contar con una plataforma
				| en la cual no existan barreras para expresarme libremente.
				| Con esto en mente, un pequeño grupo de desarrolladores ha creado esto que estás viendo, buscando fomentar la tolerancia entre
				| personas sin importar la nacionalidad, sexo, creencias, etc.
		.container
			h2.header.blue-text.text-lighten-1 TrollMe es...
			p.black-text.text-darken-3
				| Un punto donde puedes reunirte con amigos...
	//- SECTION 3
	.parallax-container
		.section.no-pad-bot
			.parallax
				img(src="images/lobby.jpg")
	//- SECTION 4
	.section
		.row.container
			h2.header.blue-text.text-darken-1 Minijuegos para pasar el rato solo o con tus amigos...
	//- SECTION 5
	.parallax-container
		.parallax
			img(src="images/game1.png")
	//- SECTION 6
	.section
		.row.container
			h2.header.blue-text.text-darken-1 Y más cosas...
	//- SECTION 7
	.parallax-container
		.parallax
			img(src="images/game2.png")
	//- SECTION 8
	.parallax-container.valign-wrapper
		.section.no-pad-bot
				.container
					h3.blue-text.text-darken-1 Necesitas más para formar parte?
					br
					a.btn.indigo.darken-1.waves(href="/registro") Empieza aquí
			.parallax
				img(src="images/kids-holding-hands.jpg")					
	//- LOGIN MODAL
	.modal#modal-login
		.modal-content
			h3.center-align Ingresar!
			.center-align
				.divider
				form#frmLogin.col.s12
					.row.center-align
						.input-field.col.m10.offset-m1.blue-text
							i.mdi-action-account-circle.prefix
							input#icon_prefix.validate(type='text')
							label(for='icon_prefix') Nombre de Usuario:
						.input-field.col.m10.offset-m1.blue-text
							i.mdi-action-lock-open.prefix
							input#icon-password.validate(type='password')
							label(for='icon-password') Contraseña
						.input-field.col.m10.offset-m1.blue-text
							input#filled-in-box.blue-text(type='checkbox', checked='checked')
							label(for='filled-in-box') Recordarme
				.divider
				p
					a.btn.btn-flat.white.modal-action.modal-close(href='#') Cancelar
					a.waves-effect.waves-blue.blue.btn.btn-flat.modal-action#btnLogin(href='#') Login
block footer
	include ./footer.jade