extends ./main.jade

block content
	main
		div#index-banner
			div.section.no-pad-bot
				div.container
					h1.header.center.indigo-text.text-darken-2 Bienvenido a TrollMe!
					div.row.center
						h5.header.col.s12.light El lugar donde puedes sacar ese 'Troll' que llevas dentro.
						div.row.center
							a#download-button.btn-large.waves-effect.waves-light.indigo.darken-2(href='/login') Entrar!