doctype html
block html
html(lang='en')
   head
      meta(charset='UTF-8')
      block title
      meta(name='author', content='Gamex Studios')
      meta(name="application-name", content="Troll Me!")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui")
      script(src='js/jquery-2.1.4.min.js')
      link(rel='stylesheet', type='text/css' href='css/main.css')
      block extracss
      block extrajs
   body
      block nav
      block content
      block footer