if navFixed
	.navbar-fixed
		nav.indigo.darken-1
			.nav-wrapper.container
				a.hide-on-med-and-down.brand-logo#logoDesktop(href='/')
					img(src="images/trollme_logo.png")
				a.hide-on-large-only.brand-logo(href='/')
					img(src="images/trollme_logo.png")
				a.button-collapse(href='#', data-activates='nav-mobile') 
					i.mdi-navigation-menu
				ul.right.hide-on-med-and-down
					li 	
						a.waves-effect.waves-dark.modal-trigger(href='#modal-login')
							i.mdi-action-account-circle.prefix
					li
						a.waves-effect.waves-dark(href="#") En linea ahora 
							span.new.badge 4
				ul#nav-mobile.side-nav
					li
						a(href='#') Iniciar sesión
else
	.nav-wrapper
		nav.indigo.darken-1
			.nav-wrapper.container
				a.brand-logo(href='/')
					img(src="images/trollme_logo.png")
				a.button-collapse(href='#', data-activates='nav-mobile') 
					i.mdi-navigation-menu
				ul.right.hide-on-med-and-down
				ul#nav-mobile.side-nav
					li
						a(href='#')
							input#search(type='search', placeholder='search')
					li
						a(href='#') Link
					li
						a(href='#') Iniciar Sesión