extends ./main.jade

block title
	title #{title}

block extracss
	link(rel="stylesheet", href="css/vendor/step-form-wizard-all.css")

block content
	br
	br
	.secion
		.row.col.s6.m4.center
			h2.indigo-text.darken-3 Estas a unos pasos de unirte
		.row
			.container.hide-on-med-and-down
				form.sf-border#register(method='POST', action='/registro')
					fieldset
						legend Información Básica
						.input-field.col.s3
							label(for="name") Nombre:
							input.validate#name(type="text", name='name', placeholder='John', tabindex='1', autofocus, required)
						.input-field.col.s3
							label(for='lastname') Apellido:
							input.validate#lastname(type="text", name='lastname', placeholder='Doe',tabindex='2', required)
						.input-field.col.s3
							label(for='username') Nombre de Usuario:
							input.validate#username(type="text", name='username', placeholder='JohnTroll', tabindex='3', required)
						.input-field.col.s3
							label(for='pass', data-error='Error', data-success='right') Contraseña:
							input.validate#pass(type="password", name='pass', placeholder='Contraseña+SuperSecreta123', tabindex='4', length='10', required)
						.input-field.col.s3
							label(for='email', data-error='Error', data-success='right') Email:
							input.validate#email(type="email", name='email', placeholder='jhon@doe.com', tabindex='5', required) 
						.input-field.col.s3
							label(for='age', data-error='Error', data-success='right') Edad:
							input.validate#age(type="number", name='age', placeholder='Edad', tabindex='5', min='18', max='99', required)
						.input-field.col.s3
							include ./countrys.jade
							//- label(for='country', data-error='Error', data-success='right') País:
							//- input.validate#country(type="text", name='country', placeholder='Mexico', tabindex='6', required)
					fieldset
						legend Politica de Privacidad
						.input-field.col.s12
							label(for='privacy') Politica de Privacidad de TrollMe
							textarea#privacy.materialize-textarea(readonly).
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aliquam ad voluptatem eum illum. Nam voluptates commodi mollitia maxime asperiores excepturi, eveniet recusandae explicabo reiciendis suscipit, voluptas dolores doloremque amet!
						.input-field.col.s2.black-text
							input#accept(type="checkbox", checked='checked', disabled='disabled', required)
							label(for='accept') Aceptar
			//- Mobile Form
			.container.hide-on-large-only
				form.sf-border#registerMobile(method='POST', action='/registro')
					fieldset
						legend.center Información Básica
						.input-field.col.s4.m2.l1
							label(for="name") Nombre:
							input.validate(type="text", name='name' placeholder='John', tabindex='1', autofocus required)
						.input-field.col.s4.m2.l1
							label(for='lastname') Apellido:
							input.validate(type="text", name='lastname' placeholder='Doe',tabindex='2', required)
						.input-field.col.s4.m2.l1
							label(for='username') Nombre de Usuario:
							input.validate(type="text", name='username' placeholder='JohnTroll', tabindex='3', required)
						.input-field.col.s4.m2.l1
							label(for='pass', data-error='Error', data-success='right') Contraseña:
							input.validate(type="password", name='pass' placeholder='Contraseña+SuperSecreta123', tabindex='4', length='10', required)
						.input-field.col.s4.m2.l1
							label(for='email', data-error='Error', data-success='right') Email:
							input.validate(type="email", name='email' placeholder='jhon@doe.com', tabindex='5', required) 
						.input-field.col.s4.m2.l1
							label(for='age', data-error='Error', data-success='right') Edad:
							input.validate(type="number", name='age' placeholder='Edad', tabindex='5', min='18', max='99', required)
						.input-field.col.s4.m2.l1
							label(for='country', data-error='Error', data-success='right') País:
							input.validate(type="text", name='country' placeholder='Mexico', tabindex='5', required) 
					fieldset
						legend Politica de Privacidad
						.input-field.col.s12
							label(for='privacy') Politica de Privacidad de TrollMe
							textarea#privacy.materialize-textarea(readonly).
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aliquam ad voluptatem eum illum. Nam voluptates commodi mollitia maxime asperiores excepturi, eveniet recusandae explicabo reiciendis suscipit, voluptas dolores doloremque amet!
						.input-field.col.s2.black-text
							input#accept(type="checkbox", checked='checked', disabled='disabled', required)
							label(for='accept') Aceptar
block extrajs
	script(src="js/vendor/step-form-wizard.min.js")
	script(type='text/javascript').
		$(document).ready(function() {
			$('select').material_select();
			$("#register").stepFormWizard({
				theme: 'sky',
				height: 'auto',
				onFinish: function() {
					//- $.ajax({

					//- })
					window.location = '/';
				}
			});
			$("#registerMobile").stepFormWizard({
				theme: 'sky',
				height: 'auto'
			});
			var $input = $('.datepicker').pickadate({
				today: 'Actual',
				clear:'',
				close: 'Cancelar'
			});
			var picker = $input.pickadate('picker');
			var datos = {
				NombreUsuario: $('#username').val(),
				Contraseña: $('#pass').val(),
				Nombre: $('#name').val(),
				Apellido: $('#lastname').val(),
				Email: $('#email').val(),
				Edad: $('#age').val()
			};
			$('#age').click(function() {
				var height = $(document).height();
				$('html, body').animate({ scrollTop: height + 'px' });
				picker.open();
			})
		});
