extends ./main.jade

block title
	title Create an Account!

block content
	main
		.row
		h1= 'Register!'    
		div.container
			a(href='/login')
				button#login To Login!
			a(href='#')
				button#registro Register!
		div#test
block extrajs
	script(src='js/main.js')
