extends ./main.jade

block html
    //[if lt IE 7]><![endif]
    // Created with JADE
block title
    title Trolling Mode: ON!

block content
    main
        h1 Trolling Mode: ON!
        div.game
            p Chat

block extrajs
    script(href='vendor/_phaser.min.js', type='text/javascript')
    script(src='js/main.js', type='text/javascript')
    //- script(src='js/game.js', type='text/javascript')